.tambah-kategori-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header-title {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .sub-title {
    font-size: 18px;
    color: #495057;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #495057;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    color: #495057;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .button-cancel {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .button-save {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .button-cancel:hover {
    background-color: #c82333;
  }
  
  .button-save:hover {
    background-color: #218838;
  }